<div class="full-history">
    <div class="table-info">
        <div class="label">
            <p>* required time-series</p>
        </div>
    </div>
    

    <table class="table text-center">
        <thead class="align-middle">
            
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col" class="blood">Blood Glucose<br /><span>nmol/L</span></th>
                <th scope="col" class="weight">Weight<br /><span>kg</span></th>
                <th scope="col" class="insulin">Insulin Taken<br /><span>doses</span></th>
                <th scope="col" class="exercise">Exercise Completed<br /><span>steps</span></th>
            </tr>
            
        </thead>
        <tbody>
            {{#each timeSeriesList}}
            <tr class="align-middle">
                <th scope="row">{{idx @index}}</th>                      
                <td class="tb-date">                       
                    {{getDate date}}                      
                </td>
                
                <td onclick="tableToggleComment(this)" class="blood ts">
                    <div class="tb-value">{{#if bloodGlucose.value}}{{bloodGlucose.value}}{{else}}&mdash;{{/if}}
                        {{#if bloodGlucose.isRequired}}*{{/if}}</div>
                    <div class="tb-comm">{{bloodGlucose.comment}}</div>
                </td>
            
                <td onclick="tableToggleComment(this)" class="weight ts">
                    <div class="tb-value">{{#if weight.value}}{{weight.value}}{{else}}&mdash;{{/if}}
                        {{#if weight.isRequired}}*{{/if}}</div>
                    <div class="tb-comm">{{weight.comment}}</div>
                </td>
                <td onclick="tableToggleComment(this)" class="insulin ts">
                    <div class="tb-value">{{#if insulin.value}}{{insulin.value}}{{else}}&mdash;{{/if}}
                        {{#if insulin.isRequired}}*{{/if}}</div>
                    <div class="tb-comm">{{insulin.comment}}</div>
                </td>
                <td onclick="tableToggleComment(this)" class="exercise ts">
                    <div class="tb-value">{{#if exercise.value}}{{exercise.value}}{{else}}&mdash;{{/if}}
                        {{#if exercise.isRequired}}*{{/if}}</div>
                    <div class="tb-comm">{{exercise.comment}}</div>
                </td>
        
                
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>