
<section class="leaderboard-container">
    <h5>Leaderboard</h5>
    <div class="scroll">
        <div class="user-place">
            <p><span class="nickname">{{nickName}}</span> &#8212;&#8212; <span id="user-val"></span> </p>
            <script>
                document.getElementById("user-val").innerHTML = ({{engagementRate}}*100).toFixed(2) + "%";
            </script>
            <p id="egmt-comm"></p>
        </div>
        
        {{#topRanked allPatEgmts n=5}}
            <div class="placing">
                <div class="place-number">aaaa</div>
                <p class="place-text">
                    <span class="nickname">{{this.nickName}}</span>
                     &#8212;&#8212; {{this.egmtRate}}%
                </p>
            </div>
        {{/topRanked}}
    </div>
</section>

<script>
    var pntNick = "{{nickName}}";
    var pntEgmt = {{engagementRate}};
    var allPatEgmts = {{{jStringify allPatEgmts}}};
</script>
<script src="/scripts/leaderboard.js"></script>