
<section class="leaderboard-container">
    <h5>Leaderboard</h5>
    <div class="scroll">
        <div class="user-place">
            <p>{{nickName}}<br><span id="user-val"></span> </p>
            <script>
                document.getElementById("user-val").innerHTML = ({{engagementRate}}*100).toFixed(2) + "%";
            </script>
            <p id="egmt-comm"><span id="egmt-diff"></span>% behind <span id="egmt-next"></span>!</p>
        </div>
        
        {{#topRanked allPatEgmts n=5}}
            <div class="placing">
                <div class="place-number">aaaa</div>
                <p class="place-text">
                    <span class="place-name">{{this.nickName}}</span>
                     &#8212;&#8212; 
                    <span id="place-val">{{this.egmtRate}}</span>%
                </p>
            </div>
        {{/topRanked}}
    </div>
</section>

<script>
    var patNick = "{{nickName}}";
    var allPatEgmts = {{{jStringify allPatEgmts}}};
</script>
<script src="/scripts/leaderboard.js"></script>