{{!-- TODO: message read/unread, clin firstname, time, details --}}
{{#if viewAsPatient}}
    {{#if unread}}<div class="message unread">{{else}}<div class="message">{{/if}}
        <div class="message-details">
            <span class="message-name-send">{{clinician.firstName}}:</span>
            <span class="message-time">{{toMelbTimestamp time}}</span>
        </div>
        <p>{{body}}</p>
    </div>
{{else}}
    <div class="message">
        <div class="message-details">
            <span class="message-time">{{toMelbTimestamp time}}</span>
        </div>
        <p>{{body}}</p>
    </div>
{{/if}}
<script src="/scripts/message-box.js"></script>