{{!-- standard nav bar for landing page and patient/clinician views.
links and functions change depending on login status/user type. --}}
<nav id="normal-nav">
    <div class="spacer mobile"></div>

    <a class="nav-name" href="/">
        <div>Diabetes</div>
        <img class="nav-logo logo" src="/images/logo-white.svg" alt="logo" />
        <div>Home</div>
    </a>

    <div id="nav-links">
        <div class="desktop">
                {{#if user.id}}
                    <script>console.log("{{user.role}}")</script>
                    {{#ifClin user}}
                        <script>console.log({{user.role}})</script>
                        <a href="/clinician/dashboard">Dashboard</a>
                        <a href="/clinician/comments">Comments</a>
                        <a href="/clinician/register">Add Patient</a>
                    {{else}}
                        <div class="dropdown">
                            <button class="dropbtn">About</button>
                            <div class="dropdown-content">
                                <a href="/about-us">About D@H</a>
                                <a href="/about-diabetes">About Diabetes</a>
                            </div>
                        </div>
                    {{/ifClin}}
                    <div class="dropdown">
                        <button class="dropbtn"><span
                                class="material-icons"
                            >account_circle</span></button>
                        <div class="dropdown-content">
                            <div class="nav-profile">
                                <img
                                    style="width: 3rem;"
                                    src="https://uxwing.com/wp-content/themes/uxwing/download/12-peoples-avatars/no-profile-picture.svg"
                                />
                                <p><strong>{{user.firstName}} {{user.lastName}}</strong><br/>{{user.email}}</p>
                                <form action="/log-out" method="post">
                                    <button class="btn btn-theme">Log out</button>
                                </form>
                            </div>
                            {{#ifClin user}}
                                <a href="/clinician/settings">Settings</a>
                            {{else}}
                                <a href="/patient/settings">Settings</a>
                            {{/ifClin}}
                        </div>
                    </div>
                {{else}}
                    <div class="dropdown">
                        <button class="dropbtn">Login</button>
                        <div class="dropdown-content">
                            <a href="/login-p">As Patient</a>
                            <a href="/login-c">As Clinician</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">About</button>
                        <div class="dropdown-content">
                            <a href="/about-us">About D@H</a>
                            <a href="/about-diabetes">About Diabetes</a>
                        </div>
                    </div>
                {{/if}}
        </div>

        <div class="tablet mobile">
            {{#if user.id}}
                <div class="dropdown">
                    <button class="dropbtn"><span class="material-icons">menu</span></button>
                    <div class="dropdown-content">
                        {{#ifClin user}}
                            <a href="/clinician/dashboard">Dashboard</a>
                            <a href="/clinician/comments">Comments</a>
                            <a href="/clinician/register">Add Patient</a>
                            <a href="/clinician/settings">Settings</a>
                        {{else}}
                            <a href="/patient/dashboard">Dashboard</a>
                            <a href="/about-diabetes">About Diabetes</a>
                            <a href="/about-us">About D@H</a>
                            <a href="/patient/settings">Settings</a>
                        {{/ifClin}}
                    </div>
                </div>
            {{else}}
                <div class="dropdown">
                    <button class="dropbtn">Login</button>
                    <div class="dropdown-content">
                        <a href="/login-p">As Patient</a>
                        <a href="/login-c">As Clinician</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">About</button>
                    <div class="dropdown-content">
                        <a href="/about-us">About D@H</a>
                        <a href="/about-diabetes">About Diabetes</a>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>

    {{#if user.id}}
        {{#ifClin user}}
            {{else}}
                <div id="nav-entry-div" class="desktop tablet mobile">
                    <button id="new-entry-button-header" class="new-entry-button-header btn btn-outline-light icon nav-new-entry"><span
                            class="material-icons"
                        >create</span></button>
                </div>
            {{/ifClin}}
        {{else}}
    {{/if}}

</nav>

{{!-- simplified nav bar for lesser pages such as about/settings pages --}}
<nav id="simple-nav">
    
    <a id="nav-back" class="">
        <span class="material-icons">arrow_back_ios</span>
        <div>Back</div>
    </a>
    {{#if user.id}}
        {{#ifClin user}}
            <a class="nav-name" href="/clinician/dashboard">
        {{else}}
            <a class="nav-name" href="/patient/dashboard">
        {{/ifClin}}
    {{else}}
        <a class="nav-name" href="/">
    {{/if}}
        <div>Diabetes</div>
        <img class="nav-logo logo" src="/images/logo-white.svg" alt="logo" />
        <div>Home</div>
    </a>
    <div class="simple-spacer"></div>
</nav>

<script src="/scripts/nav-bar.js"></script>