<div id="profile-img">
    <img
        class="profile-pic"
        src="/images/patientProfile.jpg"
        alt="profile"
    />
    <img
        class="profile-badge"
        src="/images/badge.svg"
        alt="badge"
    />
</div>
<h3 id="pname">{{firstName}} {{lastName}}</h3>
<div id="pinfo">Nickname:
    {{nickName}}
    <br />Age:
    {{age}}
    <br />Gender:
    {{gender}}
</div>
<div id="engagement">
    <h5>Engagement</h5>
    <div class="progress">
        <div
            id="progress-bar"
            class="progress-bar"
            role="progressbar"
            style="background-color: var(--green-color);"
            aria-valuemin="0"
            aria-valuemax="100"
        ><span id="egmt-val"></span></div>
    </div>
</div>
<script src="/scripts/p-profile.js"></script>