<div id="profile-img">
    <img
        id="profile-pic"
        src="/images/patientProfile.jpg"
        alt="profile"
    />
    <img
        id="profile-badge"
        src="/images/badge.svg"
        alt="badge"
    />
</div>

<div id="pinfo">
    <h3 id="pname">{{firstName}} {{lastName}}</h3>
    <div class="pinfo-details">
        <p>Nickname: <span class="nickname">{{nickName}}</span></p>
        <p>Age: {{age}}</p>
        <p>Gender: {{gender}}</p>
        <p>Joined on: <span id="p-joinOn"></span></p>
    </div>

    
</div>
<div id="engagement">
    <h5>Engagement</h5>
    <div id="progress-base" class="progress">
        <div
            id="progress-bar"
            class="progress-bar"
            role="progressbar"
            style="background-color: var(--green-color);"
            aria-valuemin="0"
            aria-valuemax="100"
        ></div>
        <span id="egmt-val"></span>
    </div>
</div>
<script>
    var egmt = {{engagementRate}} * 100;
    var createTime = "{{createTime}}";
</script>
<script src="/scripts/p-profile.js"></script>