<style>
    #p-container {
        display: flex;
        width: 100%;
        height: 6rem;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--tertiary-color);
        border: 1px solid var(--brown-color);
    }
    .progress {
        background-color: white;
        border: 1px solid var(--brown-color);
        border-radius: 10px;
    }
    .profile-img {
        position: relative;
        display: grid;
    }
    .profile-pic {
        width: 4rem;
        grid-column: 4 / -1;
        grid-row: 1;
        margin-left: 0.8rem;
    }
    .profile-badge {
        width: 1.5rem;
        grid-row: 1;
        grid-column: 1 / span 8;
        z-index: 1;
        padding-top: 55%;
    }
    .engagement h5 {
        font-family: var(--font-text);
    }
    
</style>


<div id="p-container">
    <div class="profile-img">
        <img
            class="profile-pic"
            src="/images/patientProfile.jpg"
            alt="profile"
        />
        <img class="profile-badge" src="/images/badge.svg" alt="badge" />
    </div>

    <h3>{{firstName}} {{lastName}}</h3>
    <div>Nickname:
        {{nickName}}
        <br />Age:
        {{age}}
        <br />Gender:
        {{gender}}
    </div>
    <div class="engagement">
        <h5>Engagement</h5>
        <div class="progress">
            <div
                class="progress-bar"
                role="progressbar"
                style="width: 80%; background-color: var(--green-color);"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
            >80%</div>
        </div>
    </div>
</div>

    
