<div id="p-container">
    <div class="profile-img">
        <img
            class="profile-pic"
            src="/images/patientProfile.jpg"
            alt="profile"
        />
        <img class="profile-badge" src="/images/badge.svg" alt="badge" />
    </div>

    <h3>{{firstName}} {{lastName}}</h3>
    <div>Nickname:
        {{nickName}}
        <br />Age:
        {{age}}
        <br />Gender:
        {{gender}}
    </div>
    <div class="engagement">
        <h5>Engagement</h5>
        <div class="progress">
            <div
                class="progress-bar"
                role="progressbar"
                style="width: 80%; background-color: var(--green-color);"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
            >80%</div>
        </div>
    </div>
</div>

    
