<div id="db-container">
    <h1>Dashboard</h1>
    <div class="table-info">
        <div>
            <h4>Most Recent Readings</h4>
        </div>

        <div class="label">
            <p>* required time-series</p>
            <div>
                <div class="red-rec"></div>
                <p>data outside healthy thresholds</p>
            </div>
        </div>
    </div>

    <table class="table table-striped text-center">
        <thead class="align-middle">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Patient</th>
                <th scope="col">Blood GLucose<br /><span>nmol/L</span></th>
                <th scope="col">Insulin Taken<br /><span>doses</span></th>
                <th scope="col">Weight<br /><span>kg</span></th>
                <th scope="col">Exercise Completed<br /><span>steps</span></th>
            </tr>
        </thead>
        <tbody>
            {{#each patients}}
                <tr class="align-middle">
                    <th scope="row">{{@index}}</th>
                    
                        <td>
                            <a href="/view-patient/{{_id}}">
                                <strong>{{firstName}} {{lastName}}</strong><br />
                                Age: {{age}} &nbsp;
                                Gender: {{gender}}
                            </a>
                        </td>
                    
                    {{#each timeSeries}}
                    <td>{{value}}</td>
                    {{/each}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>