<div id="db-container">
    <h1>Dashboard</h1>
    <div class="table-info">
        <div>
            <h4>Most Recent Readings</h4>
        </div>

        <div class="label">
            <p>* required time-series</p>
            <div>
                <div class="red-rec"></div>
                <p>data outside healthy thresholds</p>
            </div>
        </div>
    </div>

    <table class="table table-striped text-center">
        <thead class="align-middle">
            
            <tr>
                <th scope="col">#</th>
                <th scope="col">Patient</th>
                <th scope="col">Blood GLucose<br /><span>nmol/L</span></th>
                <th scope="col">Insulin Taken<br /><span>doses</span></th>
                <th scope="col">Weight<br /><span>kg</span></th>
                <th scope="col">Exercise Completed<br /><span>steps</span></th>
            </tr>
            
        </thead>
        <tbody>
            {{#each timeSeriesList}}
            <tr class="align-middle">
                <th scope="row">{{idx @index}}</th>
                    
                <td>
                    <a href="/clinician/view-patient/{{patient._id}}">
                        <strong>{{patient.firstName}} {{patient.lastName}}</strong><br />
                        Age: {{patient.age}} &nbsp;
                        Gender: {{patient.gender}}
                    </a>
                </td>
                    
                <td 
                {{#if (isNotBounded bloodGlucose.value bloodGlucose.upperBound bloodGlucose.lowerBound)}}
                style="color: red"
                {{/if}}
                >
                    {{bloodGlucose.value}}{{#if bloodGlucose.isRequired}}*{{/if}}
                </td>
                
                <td 
                {{#if (isNotBounded insulin.value insulin.upperBound insulin.lowerBound)}}
                style="color: red"
                {{/if}}
                >
                    {{insulin.value}}{{#if insulin.isRequired}}*{{/if}}
                </td>
                <td 
                {{#if (isNotBounded weight.value weight.upperBound weight.lowerBound)}}
                style="color: red"
                {{/if}}
                >
                    {{weight.value}}{{#if weight.isRequired}}*{{/if}}
                </td>
                <td 
                {{#if (isNotBounded exercise.value exercise.upperBound exercise.lowerBound)}}
                style="color: red"
                {{/if}}
                >
                    {{exercise.value}}{{#if exercise.isRequired}}*{{/if}}
                </td>
        
                
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>