{{!-- base patient dashboard layout, with empty frames to be occupied by features (e.g. history) --}}
<div id="dashboard-body">
    <h2>Dashboard</h2>
    <div class="home-container">
        <div id="profile" class="module">
            <div id="p-container">
                <div class="profile-img">
                    <img
                        class="profile-pic"
                        src="/images/patientProfile.jpg"
                        alt="profile"
                    />
                    <img
                        class="profile-badge"
                        src="/images/badge.svg"
                        alt="badge"
                    />
                </div>
                {{#with patient}}
                <div class="profile-text">
                    <h3 class="pname">{{firstName}} {{lastName}}</h3>
                    <div class="pinfo">Nickname:
                        {{nickName}}
                        <br />Age:
                        {{age}}
                        <br />Gender:
                        {{gender}}
                    </div>
                    
                </div>
                {{/with}}  
            </div>
            <div class="engagement">
                <h5>Engagement: </h5>
                <div class="progress">
                    <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 80%; background-color: var(--green-color);"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                    >80%</div>
                </div>
            </div>  
            
        </div>
        <div id="leaderboard" class="module">
            {{>leaderboard}}
        </div>
        <div id="messages" class="module">
            <div class="message-box-container">
                <h5>Message Box<span id="unread-notif">NEW!</span></h5>
                <div class="scroll">
                    {{#each patient}} {{!-- TODO: insert message variable into hbs for each msg --}}
                        {{>message-box}} 
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <h2>Recent History</h2>
    <div class="home-container">
        <div id="hist-today" class="module">
            {{>histTable todayTimeSeries todayArray=todayArray}}
        </div>
        <div id="hist-7days" class="module">
            {{>averagehistTable averageTimeseries startDateArray=startDateArray endDateArray=endDateArray}}

        </div>
        <div id="hist-chart" class="module">{{>hist-chart histData=histData}}</div>

    </div>
    <h2>Full History</h2>
    {{>fullHistTable timeSeriesList=timeSeriesList}}
    
</div>

<style>
    .blood {
        display: none;
    }

</style>

<script src="/scripts/p-dashboard.js"></script>