<div id="dashboard-body">
    <h3>Dashboard</h3>
    <div class="home-container">
        <div id="profile" class="module">
            <div id="p-container">
                <div class="profile-img">
                    <img
                        class="profile-pic"
                        src="/images/patientProfile.jpg"
                        alt="profile"
                    />
                    <img
                        class="profile-badge"
                        src="/images/badge.svg"
                        alt="badge"
                    />
                </div>
                {{#with patient}}
                <div class="profile-text">
                    <h3 class="pname">{{firstName}} {{lastName}}</h3>
                    <div class="pinfo">Nickname:
                        {{nickName}}
                        <br />Age:
                        {{age}}
                        <br />Gender:
                        {{gender}}
                    </div>
                    
                </div>
                {{/with}}  
            </div>
            <div class="engagement">
                <h5>Engagement: </h5>
                <div class="progress">
                    <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 80%; background-color: var(--green-color);"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                    >80%</div>
                </div>
            </div>  
            
        </div>
        <div id="leaderboard" class="module">
            {{>leaderboard}}
        </div>
        <div id="messages" class="module">
            {{>message-box}}
        </div>
    </div>
    <h3>Recent History</h3>
    <div class="home-container">
        <div id="hist-today" class="module">
            {{>histTable todayTimeSeries todayArray=todayArray}}
        </div>
        <div id="hist-7days" class="module">
            {{>averagehistTable averageTimeseries startDateArray=startDateArray endDateArray=endDateArray}}

        </div>
        <div id="hist-chart" class="module">{{> hist-chart}}</div>

    </div>

    <div class="full-history">
        <div class="table-info">
            <div>
                <h2 class="full-hist-title">Full History</h2>
            </div>
            <div class="label">
                <p>* required time-series</p>
            </div>
        </div>
        

        <table class="table table-striped text-center">
            <thead class="align-middle">
                
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Blood GLucose<br /><span>nmol/L</span></th>
                    <th scope="col">Weight<br /><span>kg</span></th>
                    <th scope="col">Insulin Taken<br /><span>doses</span></th>
                    <th scope="col">Exercise Completed<br /><span>steps</span></th>
                </tr>
                
            </thead>
            <tbody>
                {{#each timeSeriesList}}
                <tr class="align-middle">
                    <th scope="row">{{idx @index}}</th>                      
                    <td>                       
                        {{getDate date}}                      
                    </td>
                    
                        <td onclick="seeComment(this)" class="blood ts">
                            {{bloodGlucose.value}}{{#if bloodGlucose.isRequired}}*{{/if}}
                        </td>
                    
                        <td onclick="seeComment(this)" class="weight ts">
                            {{weight.value}}{{#if weight.isRequired}}*{{/if}}
                        </td>
                        <td onclick="seeComment(this)" class="insulin ts">
                            {{insulin.value}}{{#if insulin.isRequired}}*{{/if}}
                        </td>
                        <td onclick="seeComment(this)" class="exercise ts">
                            {{exercise.value}}{{#if exercise.isRequired}}*{{/if}}
                        </td>
            
                    
                </tr>
                <tr class="full-hist-comment align-middle" style="display: none">
                    <div>
                        <td>                           
                        </td>
                        <td>                           
                        </td>
                        <td class="each-comment blood-comment" style="display: none">
                            {{bloodGlucose.comment}}
                        </td>
                        <td class="each-comment weight-comment" style="display: none">
                            {{weight.comment}}
                        </td>
                        <td class="each-comment insulin-comment" style="display: none">
                            {{insulib.comment}}
                        </td>
                        <td class="each-comment exercise-comment" style="display: none">
                            {{exercise.comment}}
                        </td>
                    </div>
                </tr>
                {{/each}}
            </tbody>
    </table>
    </div>
</div>

<script>

    //const ts = document.querySelector('.ts');
    //ts.addEventListener('click', () => {
    //    console.log('hey')
    //})

    function seeComment(ts) {
        console.log('hey')
        const commentRow = document.querySelector('.full-hist-comment');
        const tsName = ts.className;

        if (commentRow.style.display === 'none') {
            commentRow.style.display = 'block';
            const tsComment;
            switch (tsName) {
                case 'blood':
                    tsComment = document.querySelector('.blood-comment');
                    tsComment.display = 'block';
                case 'weight':
                    tsComment = document.querySelector('.weight-comment');
                case 'insulin':
                    tsComment = document.querySelector('.insulin-comment');
                case 'exercise':
                    tsComment = document.querySelector('.exercise-comment');
            }
            tsComment.display = 'block'

        } else {
            commentRow.style.display = 'none';
            const comments = document.querySelector('.each-comment');
            for (c in comments) {
                if (c.display !== 'none') {
                    c.display = 'none'
                }
            }
        }
    }
</script>