<div class="home-container">
    <div id="profile" class="module">
        <div id="p-container">
            <div class="profile-img">
                <img
                    class="profile-pic"
                    src="/images/patientProfile.jpg"
                    alt="profile"
                />
                <img
                    class="profile-badge"
                    src="/images/badge.svg"
                    alt="badge"
                />
            </div>
            {{#with patient}}
            <div class="profile-text">
                <h3 class="pname">{{firstName}} {{lastName}}</h3>
                <div class="pinfo">Nickname:
                    {{nickName}}
                    <br />Age:
                    {{age}}
                    <br />Gender:
                    {{gender}}
                </div>
                
            </div>
            {{/with}}  
        </div>
        <div class="engagement">
            <h5>Engagement: </h5>
            <div class="progress">
                <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 80%; background-color: var(--green-color);"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                >80%</div>
            </div>
        </div>  
        
    </div>
    <div id="leaderboard" class="module">text</div>
    <div id="messages" class="module">
        {{>message-box}}
    </div>
    <div id="hist-today" class="module">
        {{>histTable todayTimeSeries todayArray=todayArray}}
    </div>
    <div id="hist-7days" class="module">
        {{>averagehistTable averageTimeseries startDateArray=startDateArray endDateArray=endDateArray}}

    </div>
    <div id="hist-chart" class="module">{{> hist-chart}}</div>

</div>

<div class="full-history">
    <div class="table-info">
        <div>
            <h2 class="full-hist-title">Full History</h2>
        </div>

        <div class="label">
            <p>* required time-series</p>
            <div>
                <div class="red-rec"></div>
                <p>data outside healthy thresholds</p>
            </div>
        </div>
    </div>
    

    <table class="table table-striped text-center">
        <thead class="align-middle">
            
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Blood GLucose<br /><span>nmol/L</span></th>
                <th scope="col">Weight<br /><span>kg</span></th>
                <th scope="col">Insulin Taken<br /><span>doses</span></th>
                <th scope="col">Exercise Completed<br /><span>steps</span></th>
            </tr>
            
        </thead>
        <tbody>
            {{#each timeSeriesList}}
            <tr class="align-middle">
                <th scope="row">{{idx @index}}</th>
                    
                <td>
                    
                    {{getDate date}}
                    
                </td>
                    
                <td 
                {{#if (isNotBounded bloodGlucose.value bloodGlucose.upperBound bloodGlucose.lowerBound)}}
                style="color: red"
                {{/if}}
                >
                    {{bloodGlucose.value}}{{#if bloodGlucose.isRequired}}*{{/if}}
                </td>
                
                <td 
                {{#if (isNotBounded weight.value weight.upperBound weight.lowerBound)}}
                style="color: red"
                {{/if}}
                >
                    {{weight.value}}{{#if weight.isRequired}}*{{/if}}
                </td>
                <td 
                {{#if (isNotBounded insulin.value insulin.upperBound insulin.lowerBound)}}
                style="color: red"
                {{/if}}
                >
                    {{insulin.value}}{{#if insulin.isRequired}}*{{/if}}
                </td>
                <td 
                {{#if (isNotBounded exercise.value exercise.upperBound exercise.lowerBound)}}
                style="color: red"
                {{/if}}
                >
                    {{exercise.value}}{{#if exercise.isRequired}}*{{/if}}
                </td>
        
                
            </tr>
            {{/each}}
        </tbody>
</table>
</div>