<div id="dashboard-body">
    <h2>Dashboard</h2>
    <div class="home-container">
        <div id="profile" class="module">
            <div id="p-container">
                <div class="profile-img">
                    <img
                        class="profile-pic"
                        src="/images/patientProfile.jpg"
                        alt="profile"
                    />
                    <img
                        class="profile-badge"
                        src="/images/badge.svg"
                        alt="badge"
                    />
                </div>
                {{#with patient}}
                <div class="profile-text">
                    <h3 class="pname">{{firstName}} {{lastName}}</h3>
                    <div class="pinfo">Nickname:
                        {{nickName}}
                        <br />Age:
                        {{age}}
                        <br />Gender:
                        {{gender}}
                    </div>
                    
                </div>
                {{/with}}  
            </div>
            <div class="engagement">
                <h5>Engagement: </h5>
                <div class="progress">
                    <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 80%; background-color: var(--green-color);"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                    >80%</div>
                </div>
            </div>  
            
        </div>
        <div id="leaderboard" class="module">
            {{>leaderboard}}
        </div>
        <div id="messages" class="module">
            {{>message-box}}
        </div>
    </div>
    <h2>Recent History</h2>
    <div class="home-container">
        <div id="hist-today" class="module">
            {{>histTable todayTimeSeries todayArray=todayArray}}
        </div>
        <div id="hist-7days" class="module">
            {{>averagehistTable averageTimeseries startDateArray=startDateArray endDateArray=endDateArray}}

        </div>
        <div id="hist-chart" class="module">{{>hist-chart histData=histData}}</div>

    </div>

    <h2>Full History</h2>
    <div class="full-history">
        <div class="table-info">
            <div class="label">
                <p>* required time-series</p>
            </div>
        </div>
        

        <table class="table text-center">
            <thead class="align-middle">
                
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Blood Glucose<br /><span>nmol/L</span></th>
                    <th scope="col">Weight<br /><span>kg</span></th>
                    <th scope="col">Insulin Taken<br /><span>doses</span></th>
                    <th scope="col">Exercise Completed<br /><span>steps</span></th>
                </tr>
                
            </thead>
            <tbody>
                {{#each timeSeriesList}}
                <tr class="align-middle">
                    <th scope="row">{{idx @index}}</th>                      
                    <td class="tb-date">                       
                        {{getDate date}}                      
                    </td>
                    
                    <td onclick="tableToggleComment(this)" class="blood ts">
                        <div class="tb-value">{{bloodGlucose.value}}{{#if bloodGlucose.isRequired}}*{{/if}}</div>
                        <div class="tb-comm">{{bloodGlucose.comment}}</div>
                    </td>
                
                    <td onclick="tableToggleComment(this)" class="weight ts">
                        <div class="tb-value">{{weight.value}}{{#if weight.isRequired}}*{{/if}}</div>
                        <div class="tb-comm">{{weight.comment}}</div>
                    </td>
                    <td onclick="tableToggleComment(this)" class="insulin ts">
                        <div class="tb-value">{{insulin.value}}{{#if insulin.isRequired}}*{{/if}}</div>
                        <div class="tb-comm">{{insulin.comment}}</div>
                    </td>
                    <td onclick="tableToggleComment(this)" class="exercise ts">
                        <div class="tb-value">{{exercise.value}}{{#if exercise.isRequired}}*{{/if}}</div>
                        <div class="tb-comm">{{exercise.comment}}</div>
                    </td>
            
                    
                </tr>
                {{/each}}
            </tbody>
    </table>
    </div>
</div>

<script>

    function tableToggleComment(cell) {
        var comment = cell.querySelector(".tb-comm"); 
        var value = cell.querySelector(".tb-value");
        if (comment.style.display === "none") {
            comment.style.display = "block";
            value.style.display = "none";
            cell.style.background = "white";
            cell.style.borderLeft = "1px solid var(--brown-color)";
            cell.style.borderRight = "1px solid var(--brown-color)";
        } else {
            comment.style.display = "none";
            value.style.display = "block";
            cell.style.background = "var(--tertiary-color)";
            cell.style.borderLeft = "0";
            cell.style.borderRight = "0";
        }
    }
</script>