<div class="home-container">
    {{!-- <div id="profile" class="module">{{> patientProfile patient}}</div> --}}
    <div id="profile" class="module">
        <div id="p-container">
            <div class="profile-img">
                <img
                    class="profile-pic"
                    src="/images/patientProfile.jpg"
                    alt="profile"
                />
                <img
                    class="profile-badge"
                    src="/images/badge.svg"
                    alt="badge"
                />
            </div>
            {{#with patient}}
            <div class="profile-text">
                <h3 class="pname">{{firstName}} {{lastName}}</h3>
                <div class="pinfo">Nickname:
                    {{nickName}}
                    <br />Age:
                    {{age}}
                    <br />Gender:
                    {{gender}}
                </div>
                
            </div>
            {{/with}}  
        </div>
        <div class="engagement">
            <h5>Engagement: </h5>
            <div class="progress">
                <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 80%; background-color: var(--green-color);"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                >80%</div>
            </div>
        </div>  
        
    </div>
    <div id="leaderboard" class="module">text</div>
    <div id="messages" class="module">text</div>
    <div id="hist-today" class="module">text</div>
    <div id="hist-7days" class="module">text</div>
    <div id="recent-data" class="module">text</div>
</div>